<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
<title>Nelisa's Weekly Sales</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src=" http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="shortcut icon" href="https://raw.githubusercontent.com/radlee/Nelisa/b9816b52a0796aee0f13f72bc06ff8fa7166475d/img/NSPNG.png" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<style>
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}
@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

a:link, a:visited {
	color:#eee;
}
#container{
  padding: 10px;
}
#info{
  background-color: #02cab6;
}
h2 {
  color : gray;
  foont-size: .8em;
  background-color: lightblue;
}
#heading{
  text-align: center;
  font-family: sans-serif;
}
#heading2{
  font-family: sans-serif;
  background-color: green;
  color: white;
  padding: 5px;
  text-align: center;
}
.para {
  font-family: sans-serif;
}
#csricodexmlab{
  /*background-color: #044052;*/
  background-color: black;
  color: white;
}
table {
  /*border-collapse: collapse;*/
  background-color: :#333 !important;
  font-family: sans-serif;
  text-align: left;
  padding: 10px;
  color: white;
}
.info{
  background-color: #044052 !important;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: black;
  color: white ;
}
td{
  background-color: #000033;
  color: #00adc8;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
.navbar .brand {
max-height: 70px;
overflow: visible;
padding-top: 0;
padding-bottom: 0;
}
.navbar a.navbar-brand {padding: 0px 15px 0px;}

/*@media only screen and (max-width : 578px) {
  .container-fluid {
    background-color: yellow;
  }
}*/
</style>
</head>
<body>
<div id="container">
  <!-- class="navbar navbar-inverse [ navbar-fixed-top ]" -->
<div id="navDiv">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img class="theIm" src="https://raw.githubusercontent.com/radlee/Nelisa/b9816b52a0796aee0f13f72bc06ff8fa7166475d/img/NSPNG.png" style="width:55px;height:55px;"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select Week
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/sales/Week1">Week 1</a></li>
          <li><a href="/sales/Week2">Week 2</a></li>
          <li><a href="/sales/Week3">Week 3</a></li>
          <li><a href="/sales/Week4">Week 4</a></li>
        </ul>
      </li>
        <!-- <li><a href="#">Manage Account</a></li> -->
        <!-- <li><a href="#">Shop Online</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
      </ul>
    </div>
  </div>
</nav>
</div>
{{{body}}}
</div>
</body>
</html>
