<style>

@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
#manage > div{
  display: inline-block;
  padding: 10px;
}
p{
  padding: 5px;
}
h1{
  padding-left: 20px;
}

</style>

<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron" style="background-image: url(http://img0.gtsstatic.com/wallpapers/534d719ba297f9c1673794f0c6c49f91_large.jpeg); background-size: 100%;">
  <!-- <h1 class="margin"><span style="color:#00e6e6">Welcome</span> to your Dashboard</h1> -->
  <h1 class="margin"><span style="color:#00e6e6">Hi, </span> Nels</h1>
  <br>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>




<div id="manage">
  <h1>Profile</h1>
  <div>
    <img src="https://github.com/radlee/express-app/blob/master/public/img/ProfileNelisa.png?raw=true">
  </div>
  <div>
    <p>Role : Manager</p>
    <p>Lives : Khayelitsha</p>
    <p>Need : To see the App online</p>
  </div>
</div>
  <!-- <div>
    <h1><span style="color:lightblue"><span class="glyphicon glyphicon-user"></span> Manage Users</span></h1>
  </div>
  <div>
    <h1><span style="color:gray"><span class="glyphicon glyphicon-cog"></span> Manage12 Products</span></h1>
  </div> -->

  <!-- <div>
    <img src="https://github.com/radlee/express-app/blob/master/public/img/mmpmain.png?raw=true">
  </div> -->
