<style>

@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300');

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#fff;
  	background-color:#333;
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
#manage > div{
  display: inline-block;
  padding: 10px;
}
</style>

<div id="csricodexmlab" class="container-fluid bg-3 text-center jumbotron" style="background-image: url(http://img0.gtsstatic.com/wallpapers/534d719ba297f9c1673794f0c6c49f91_large.jpeg); background-size: 100%;">
  <!-- <h1 class="margin"><span style="color:#00e6e6">Welcome</span> to your Dashboard</h1> -->
  <h1 class="margin"><span style="color:#00e6e6">Hi, </span> Nels</h1>
  <br>
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<div id="manage">
  <div>
    <h1><span style="color:lightblue"><span class="glyphicon glyphicon-user"></span> Manage Users</span></h1>
  </div>
  <div>
    <h1><span style="color:gray"><span class="glyphicon glyphicon-cog"></span> Manage Products</span></h1>
  </div>
  <div>
    <igm src="/home/lee/Pictures/images/mmpmain.png">
  </div>
</div>
